.sectionOne {
  background-image: url("../../assets/images/Background-Image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    padding: 5% 0px;
    @include flex(row, space-between, center);

    button {
      background-color: $white;
      color: $Pink;
      font-weight: 600;
      padding: 10px;
    }

    .text {
      color: $white;
      width: 40%;

      .subtext {
        font-size: 16px;
        margin: 20px 0px;
      }

      .heading {
        font-size: 56px;

        span {
          font-weight: 700;
        }
      }
    }

    .image {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}

.sectionTwo {
  .image {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .content {
    padding: 5% 0px;
    @include flex(row, space-between, center);

    .registerForm {
      padding: 20px;
      border-radius: 10px;
      background: $white;
      box-shadow: -3px 3px 34px 6px rgba(0, 0, 0, 0.23);

      .heading {
        font-size: 36px;
        text-align: center;

        span {
          color: $Pink;
          font-weight: 600;
        }
      }

      form {
        @include flex(column, flex-start, flex-start);

        .text {
          font-size: 16px;

          span {
            font-weight: 600;
          }
        }

        input {
          padding: 10px;
          margin: 20px 0px;
          border-radius: 10px;
          font-size: 16px;
        }

        input[type="checkbox"] {
          width: 20px;
          padding: 0px;
          margin: 0px 10px 0px 0px;
        }

        .conditions {
          @include flex(row, center, center);
        }

        button {
          background: $DarkPurple;
          color: $white;
          text-align: center;
          font-weight: 600;
          padding: 10px;
          border-radius: 10px;
          width: 250px;
          margin: 20px 0px;
        }
      }
    }
  }
}

.sectionThree {
  .head {
    @include flex(column, center, center);
  }

  .heading {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .subtext {
    font-size: 16px;
    font-weight: 600;
    color: gray;
    letter-spacing: 1px;
    text-align: center;
  }

  .solutions {
    @include flex(row, center, center);
    flex-wrap: wrap;
    margin: 20px 0px;
  }
}

.sectionfour {
  background: $Pink;
  padding: 5% 0px;

  .content {
    @include flex(column, center, center);

    .heading {
      width: 50%;
      text-align: center;
      color: $white;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1px;
    }

    .subtext {
      width: 50%;
      text-align: center;
      color: $white;
      font-size: 16px;
      margin: 20px 0px;
    }

    button {
      background: $white;
      color: $Pink;
      padding: 10px;
      border-radius: 6px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.sectionFive {
  .image {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .contentBox {
    width: 50%;
  }

  .content {
    @include flex(row, space-between, center);
    .heading {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .subtext {
      color: gray;
      margin: 20px 0px;
      font-size: 16px;
      letter-spacing: 1px;
    }
    button {
      background-color: $DarkPurple;
      color: $white;
      border-radius: 6px;
      padding: 10px 20px;
      text-transform: uppercase;
      cursor: pointer;
      margin: 20px 0px;
    }
    ul {
      list-style-type: none;
      li {
        margin: 10px 0px;
        color: gray;
        padding-left: 10px;
        &:before {
          content: "✓  ";
          color: $DarkPurple;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .sectionOne {
    .content {
      .text {
        color: $white;
        width: 50%;
        .heading {
          font-size: 45px;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .sectionTwo {
    .image {
      width: 50%;

      img {
        width: 100%;
      }
    }

    .content {
      padding: 5% 0px;
      @include flex(row, space-between, center);

      .registerForm {
        width: 50%;
        .heading {
          font-size: 28px;
        }

        form {
          .text {
            font-size: 14px;
          }

          input {
            padding: 10px;
            margin: 20px 0px 0px 0px;
            font-size: 14px;
          }

          input[type="checkbox"] {
            width: 20px;
            padding: 0px;
            margin: 0px 10px 0px 0px;
          }

          .conditions {
            margin-top: 20px;
            @include flex(row, center, center);
          }

          button {
            width: 250px;
          }
        }
      }
    }
  }
  .sectionfour {
    .content {
      .heading {
        width: 70%;
      }
      .subtext {
        width: 70%;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .sectionOne {
    .content {
      .text {
        color: $white;
        width: 50%;
        .heading {
          font-size: 36px;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
  .sectionTwo {
    .image {
      width: 100%;

      img {
        width: 100%;
      }
    }
    .content {
      padding: 5% 0px;
      @include flex(column, center, center);

      .registerForm {
        width: 70%;
        form {
          @include flex(column, center, center);
        }
      }
    }
  }
  .sectionFive {
    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .contentBox {
      margin-top: 100px;
      width: 100%;
    }
    .content {
      @include flex(column, center, center);
      flex-direction: column-reverse;
    }
  }
}
@media screen and (max-width: 600px) {
  .sectionOne {
    .content {
      @include flex(column, space-between, center);
      flex-direction: column-reverse;
      .text {
        width: 100%;
      }
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .sectionTwo {
    .content {
      padding: 5% 0px;
      .registerForm {
        width: 100%;
        margin-top: 50px;
        form {
          @include flex(column, flex-start, flex-start);
        }
      }
    }
  }
  .sectionfour {
    .content {
      .heading {
        width: 100%;
        font-size: 28px;
      }
      .subtext {
        width: 100%;
      }
    }
  }
}

// card components
.solutionsCard {
  margin: 20px;
  @include flex(column, center, center);
  width: 300px;

  .heading {
    font-size: 18px;
    letter-spacing: 1.5px;
  }

  .text {
    font-size: 16px;
    letter-spacing: 1px;
    color: gray;
    text-align: center;
    margin: 20px 0px;
  }

  a {
    color: gray;
    text-decoration: none;
  }
}

@media screen and (max-width: 750px) {
  .solutionsCard {
    width: 250px;
  }
}
@media screen and (max-width: 600px) {
  .solutionsCard {
    width: 300px;
  }
}
