.container {
  width: 100%;
}

.contentWrapper {
  width: 80%;
  margin: auto;
}

.navbar {
  background: #572967;
  padding: 20px 0px;
}

.links {
  @include flex(row, space-between, flex-start);

  ul {
    @include flex(row, flex-start, flex-start);
    list-style-type: none;
    transition: all 1s;
    li {
      margin: 0px 25px;

      a {
        color: $white;
        font-family: $fontFamily;
        font-size: 16px;
        text-decoration: none;
        @include flex(row, center, center);

        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.footer {
  background: $LightYellow;
  padding: 50px 0px;

  p {
    color: $DarkPurple;
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .contentWrapper {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .links {
    position: relative;
    @include flex(row, space-between, flex-start);
    .toggleBox {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .rotateOne {
      width: 30px;
      transform: rotate(360deg);
      position: absolute;
      z-index: 100;
    }
    .hide {
      width: 0px !important;
    }
    .rotateTwo {
      width: 30px;
      transform: rotate(90deg);
      position: absolute;
      z-index: 100;
    }

    .toggle {
      position: relative;
      width: 30px;
      height: 30px;
      @include flex(column, space-between, center);

      .one {
        transition: all 1s;
        width: 100%;
        height: 3px;
        background-color: $white;
        border-radius: 5px;
      }
    }
    .hideLinks {
      transition: all 1s;
      transform: translateY(-200%);
      overflow: hidden;
    }
    .showLinks {
      transition: all 1s;
      transform: translateY(0%);
      overflow: hidden;
      background-color: #572967;
      position: absolute;
      width: 100%;
      padding-bottom: 50px;
      border-bottom: 1px solid $white;
      @include flex(column, center, flex-start);
      padding-left: 20px;
      li {
        margin: 10px 0px;
      }
    }
  }
}
