.container {
  width: 100vw;
}

.contentWrapper {
  width: 80%;
  margin: auto;
}

.navbar {
  background: #572967;
  padding: 20px 0px;
}

.links {
  @include flex(row, space-between, flex-start);

  ul {
    @include flex(row, flex-start, flex-start);
    list-style-type: none;

    li {
      margin: 0px 25px;

      a {
        color: $white;
        font-family: $fontFamily;
        font-size: 16px;
        text-decoration: none;
        @include flex(row, center, center);

        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.footer {
  background: $LightYellow;
  padding: 50px 0px;

  p {
    color: $DarkPurple;
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .contentWrapper {
    width: 90%;
  }
}
