* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


$DarkPurple : #4f2060;
$Pink : #eb5875;
$LightBlue: #eef4fd;
$LightYellow: #f8f9e9;
$white:#fff;
$fontFamily: 'Nunito', sans-serif;

@mixin flex($dir, $justify, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

body{
    font-family: $fontFamily;
    background: $LightBlue;
}

button {
    border: none;
    outline: none;
    font-family: $fontFamily;
    padding: 5px;
}

input{
    width: 250px;
    outline: none;
    border: 1px solid lightgrey;
    font-family: $fontFamily;
}


@import './layout/layout';
@import './pages/home';
@import './components/components'